.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0d00ff7c;
    color: #ffffff;
  }
  
  .social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    text-decoration: none; 
  }
  
  .social-list li {
    margin-right: 10px;
  }
  
  .company-info {
    font-size: 0.8rem;
    font-style: arial;
  }
  
  .logo {
    width: 100px;
  }